<!DOCTYPE html>
{% load static %} 
<html>
    <head>
        <title>Lead management - about</title>
    </head>

    <body>
        <h1>About the system</h1>
        <div>
            <p>
                A simple system to track and manage leads from  different capmpagigns and landing pages.
            </p>
        </div>
        <span style="font-weight:bold;">
        	{{ boldmessage }}
        </span>
        <br>
        <a href="/leads/">Home</a>
        <br>
        <img src={% static "campus.jpg" %} alt="campus">
    </body>
</html>