{% extends "lead_center/common/base.html" %}
{% block title %}Campaigns{% endblock %}
{% block content %}
<h1>Campaigns</h1>

	{% if campaigns %}
	<div class="tbl">
	    <div style="font-weight:bold;" class="row">
	    	<div class="col col-lg-3">
	            Name
	        </div>

	        <div class="col col-lg-3">
	            Description
	        </div>

	        <div class="col col-lg-3">
	            Lead count 
	        </div>
	        <div class="col col-lg-3">
	            Actions
	        </div>
	    </div>
		<div id="result_set">
			{% include 'common/generic_list.html' with obj=campigns objStr="campaign" %}
		</div>
	</div>
	{% else %}
	        <div style="row">
	            <div class="col-lg-12">
	                No campaigns are currently available, you can add a new one below
	            </div>
	        </div>
	{% endif %}
	{% if campaignAdded %}
	<div style="row">
	    <div class="col-lg-12">
	    	<span class="success">
	    		The campaign was added successfully
	    	</span>
	    </div>
   </div>
	{% endif %}
	{% include "genericForm.html" %}
{% endblock %}