{% extends "lead_center/common/base.html" %}
{% block title %}Statuses{% endblock %}
{% block content %}
<h1>Lead statuses</h1>
	{% if statuses %}
	    <div class="tbl">
	        <div style="font-weight:bold;" class="row">
	        	<div class="col col-lg-3">
	                Name
	            </div>

	            <div class="col col-lg-3">
	                Description
	            </div>

	            <div class="col col-lg-3">
	                Lead count 
	            </div>
	            <div class="col col-lg-3">
	                Actions
	            </div>
	        </div>
	        <div id="result_set">
	        	{% include 'common/generic_list.html' with obj=statuses objStr="status" %}
	        </div>
	    </div>
	{% else %}
	        <div style="row">
	            <div class="col-lg-12">
	                No statuses are currently available, you can add a new one below
	            </div>
	        </div>
	{% endif %}
	{% if statusAdded %}
	<div style="row">
	    <div class="col-lg-12">
	    	<span class="success">
	    		The status was added successfully
	    	</span>
	    </div>
   </div>
	{% endif %}
	{% include "genericForm.html" %}
{% endblock %}