<ul class="nav nav-tabs">
	<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		{% if user.is_authenticated %}
			{{user.username}} 
		{% else %}
			Guest
		{% endif %}
	   <span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		{% if user.is_authenticated %}
			<li>
				<a href="/leads/logout/"> 
					Logout
				</a>
			</li>
		{% else %}
	    	<a href="/leads/login/"> 
	    		Login
	    	</a>
		{% endif %}
	</ul>
	</li>
	<li>
		<a href="/leads/"> 
			Home
		</a>
	</li>
</ul>
