<ul class="nav nav-tabs">
	<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		{% if user.is_authenticated %}
			{{user.username}} 
		{% else %}
			Guest
		{% endif %}
	   <span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		{% if user.is_authenticated %}
			<li>
				<a href="/leads/logout/"> 
					Logout
				</a>
			</li>
		{% else %}
	    	<a href="/leads/login/"> 
	    		Login
	    	</a>
		{% endif %}
	</ul>
	</li>
	<li class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	  	Stats
	     <span class="caret"></span>
	  </a>
	  {%if request %}
	  <ul class="dropdown-menu"  role="menu" aria-labelledby="dLabel">
	  	<li>Visits: {{request.session.visits|default:1}}</li>
			<li>Last visit: {{request.session.last_visit|default:'today'}}</li>
	  </ul>
	  {% endif %}
	</li>
	<li>
		<a href="/leads/"> 
			Home
		</a>
	</li>
	<li>
		<a href="/leads/form"> 
			Add new lead
		</a>
	</li>
</ul>
